<h1 mat-dialog-title>{{ title }} Cliente</h1>
<div mat-dialog-content>
    <form [formGroup]="customerForm" class="col-md-12">
        <div class="row col-md-12">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="name" [readonly]="isShow">
                </mat-form-field>
                <div class="alert-danger col-md-8" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div class="container-error-message" *ngIf="name.errors.required">
                        El Nombre no puede estar vacio
                    </div>
                    <div class="container-error-message" *ngIf="name.errors.minlength">
                        El Nombre debe contener al menos 1 caracter
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input matInput type="text" formControlName="surname" [readonly]="isShow">
                </mat-form-field>
                <div class="alert-danger col-md-8" *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                    <div class="container-error-message" *ngIf="surname.errors.required">
                        El Apellido no puede estar vacio
                    </div>
                    <div class="container-error-message" *ngIf="surname.errors.minlength">
                        El Apellido debe contener al menos 5 caracteres
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>DNI</mat-label>
                    <input matInput type="text" formControlName="dni" [readonly]="isShow || title !== 'Crear '">
                </mat-form-field>
                <div class="alert-danger col-md-8" *ngIf="dni.invalid && (dni.dirty || dni.touched)">
                    <div class="container-error-message" *ngIf="dni.errors.required">
                        El Apellido no puede estar vacio
                    </div>
                    <div class="container-error-message" *ngIf="dni.errors.minlength">
                        El Apellido debe contener al menos 5 caracteres
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Teléfono</mat-label>
                    <input matInput type="text" formControlName="phone" [readonly]="isShow">
                </mat-form-field>
                <div class="alert-danger col-md-8" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                    <div class="container-error-message" *ngIf="phone.errors.required">
                        El Teléfono no puede estar vacio
                    </div>
                    <div class="container-error-message" *ngIf="phone.errors.minlength">
                        El Teléfono debe contener al menos 10 caracteres
                    </div>
                    <div class="container-error-message" *ngIf="phone.errors.minlength">
                        El Teléfono debe contener maximo 12 caracteres
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Correo</mat-label>
                    <input matInput type="text" formControlName="email" [readonly]="isShow">
                </mat-form-field>
                <div class="alert-danger col-md-8" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div class="container-error-message" *ngIf="email.errors.required">
                        El Correo no puede estar vacio
                    </div>
                    <div class="container-error-message" *ngIf="email.errors.minlength">
                        El Correo debe contener al menos 5 caracteres
                    </div>
                    <div class="container-error-message" *ngIf="email.errors.pattern">
                      Debe dar una dirección de correo valida
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="calendar" [readonly]=true [max]="maxDate" formControlName="birthdate" (click)="!isShow ? calendar.open() : ''">
                    <mat-datepicker-toggle [for]="calendar" *ngIf="!isShow" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #calendar></mat-datepicker>
                  </mat-form-field>
                <div class="alert-danger col-md-8" *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)">
                    <div class="container-error-message" *ngIf="birthdate.errors.required">
                        La Fecha de nacimiento no puede estar vacia
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <mat-form-field style="width: 100%;">
                    <mat-label>Dirección</mat-label>
                    <textarea matInput formControlName="address" [readonly]="isShow"></textarea>
                </mat-form-field>
                <div class="alert-danger" *ngIf="address.invalid && (address.dirty || address.touched)">
                    <div class="container-error-message" *ngIf="address.errors.required">
                        La Dirección no puede estar vacia
                    </div>
                    <div class="container-error-message" *ngIf="address.errors.minlength">
                        La Dirección debe contener al menos 10 caracteres
                    </div>
                    <div class="container-error-message" *ngIf="address.errors.maxlength">
                        La Dirección debe contener un máximo de 250 caracteres
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-action class="float-right">
    <button mat-button (click)="cancel()" color="warn">Cancelar</button>
    <button mat-button 
        [mat-dialog-close]="customer" 
        color="primary" 
        *ngIf="!isShow" 
        [disabled]="!customerForm.valid"
        (click)="confirm()"
        >Enviar</button>
</div>