<mat-card>
    <mat-card-header>
        <mat-card-title>
            Listado de Almacenes
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <button type="button" class="btn btn-success float-right" (click)="create()" title="Registrar">
            <i class="fas fa-plus"></i>
        </button>
        <br><br><br>
        <mat-table [dataSource]="warehouses" class="mat-elevation-z8 col-md-12">
            <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                <mat-cell *matCellDef="let i = index">
                    {{ this.paginator.pageIndex == 0 ?  (i + 1) : (i + 1) + this.paginator.pageIndex * this.paginator.pageSize}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let warehouse"> {{ warehouse.name | titlecase }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="warehouseIdentifier">
                <mat-header-cell *matHeaderCellDef> Identificador de Almacén </mat-header-cell>
                <mat-cell *matCellDef="let warehouse"> {{ warehouse.warehouseIdentifier | uppercase }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let warehouse">
                    <button type="button" class="btn btn-warning" (click)="edit(warehouse)" title="Editar">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn btn-info" [routerLink]="['/warehouses/show', warehouse.id]" title="Gestonar">
                        <i class="fas fa-warehouse"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="delete(warehouse)" title="Eliminar">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="showColumns"></mat-header-row>
            <mat-row *matRowDef="let warehouse; columns: showColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator [length]="totalFields" [pageSize]="totalByPage" [pageIndex]="currentPage"
            [pageSizeOptions]="pageSizeOptions" (page)="paginate($event)" showFirstLastButtons
            class="d-flex justify-content-center mx-2 mt-1"></mat-paginator>
    </mat-card-content>
</mat-card>