<h1 mat-dialog-title>{{ title }} Almacén</h1>
<div mat-dialog-content>
    <form [formGroup]="warehouseForm" class="col-md-12">
        <div class="row col-md-12">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="name" [readonly]="isShow">
                </mat-form-field>
                <div class="alert-danger col-md-8" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div class="container-error-message" *ngIf="name.errors.minlength">
                        El Nombre debe contener al menos 5 caracter
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Identificador de Almacén</mat-label>
                    <input matInput type="text" formControlName="warehouseIdentifier" [readonly]="isShow">
                </mat-form-field>
                <div class="alert-danger col-md-8" *ngIf="warehouseIdentifier.invalid && (warehouseIdentifier.dirty || warehouseIdentifier.touched)">
                    <div class="container-error-message" *ngIf="warehouseIdentifier.errors.required">
                        El Identificador de Almacén no puede estar vacio
                    </div>
                    <div class="container-error-message" *ngIf="warehouseIdentifier.errors.minlength">
                        El Identificador de Almacén debe contener al menos 3 caracteres
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <mat-form-field style="width: 100%;">
                    <mat-label>Dirección</mat-label>
                    <textarea matInput formControlName="address" [readonly]="isShow"></textarea>
                </mat-form-field>
                <div class="alert-danger" *ngIf="address.invalid && (address.dirty || address.touched)">
                    <div class="container-error-message" *ngIf="address.errors.required">
                        La Dirección no puede estar vacio
                    </div>
                    <div class="container-error-message" *ngIf="address.errors.minlength">
                        La Dirección debe contener al menos 10 caracteres
                    </div>
                    <div class="container-error-message" *ngIf="address.errors.maxlength">
                        La Dirección debe contener un máximo de 250 caracteres
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-action class="float-right">
    <button mat-button (click)="cancel()" color="warn">Cancelar</button>
    <button mat-button 
        [mat-dialog-close]="warehouse" 
        color="primary" 
        *ngIf="!isShow" 
        [disabled]="!warehouseForm.valid"
        (click)="confirm()"
        >Enviar</button>
</div>