<mat-card>
    <mat-card-header>
        <mat-card-title>
            Envío
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div mat-dialog-content>
            <form [formGroup]="orderForm" class="col-md-8">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Clientes</mat-label>
                            <mat-select formControlName="customer" (selectionChange)="setAcdress()">
                                <mat-option [value]="order.customer">
                                    {{ order.customer ? '(' + order.customer.dni + ') - ' + order.customer.name + ' ' + order.customer.surname : '' }}
                                </mat-option>
                                <mat-option *ngFor="let customer of customers" [value]="customer">
                                    {{ '(' + customer.dni + ') - ' + customer.name + ' ' + customer.surname }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="alert-danger col-md-8"
                            *ngIf="customer.invalid && (customer.dirty || customer.touched)">
                            <div class="container-error-message" *ngIf="customer.errors.required">
                                El Cliente no puede estar vacio
                            </div>
                            <div class="container-error-message" *ngIf="customer.errors.minlength">
                                El Cliente debe contener al menos 5 caracteres
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Direccion del cliente destino</mat-label>
                            <input matInput type="text" formControlName="customerAddress" [readonly]="true">
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Almacén</mat-label>
                            <mat-select formControlName="warehouse" (selectionChange)="getProducts()">
                                <mat-option [value]="order.warehouse">
                                    {{ order.warehouse ? '(' + order.warehouse.warehouseIdentifier + ') - ' + 
                                    (order.warehouse.name ? order.warehouse.name : '' ) : '' }}
                                </mat-option>
                                <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse">
                                    {{ '(' + warehouse.warehouseIdentifier + ') - ' + warehouse.name ? warehouse.name : '' }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="alert-danger" *ngIf="warehouse.invalid && (warehouse.dirty || warehouse.touched)">
                            <div class="container-error-message" *ngIf="warehouse.errors.required">
                                El Almacén no puede estar vacio
                            </div>
                            <div class="container-error-message" *ngIf="warehouse.errors.minlength">
                                El Almacén debe contener al menos 10 caracteres
                            </div>
                            <div class="container-error-message" *ngIf="warehouse.errors.maxlength">
                                El Almacén debe contener un máximo de 250 caracteres
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12 mt-5">
            <mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex">
                <mat-tab label="Productos seleccionados">
                    <mat-card>
                        <mat-card-header class="card-header">
                            <mat-card-title>
                                Productos Seleccionados
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-md-12">
                                <ng-container matColumnDef="position">
                                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                                    <mat-cell *matCellDef="let i = index">
                                        {{ this.paginator.pageIndex == 0 ?  (i + 1) : (i + 1) + this.paginator.pageIndex * this.paginator.pageSize}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="sku">
                                    <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
                                    <mat-cell *matCellDef="let detail"> {{ detail.product.sku | uppercase }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                                    <mat-cell *matCellDef="let detail"> {{ detail.product.name | titlecase }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="quantity">
                                    <mat-header-cell *matHeaderCellDef> Cantidad Seleccionada </mat-header-cell>
                                    <mat-cell *matCellDef="let detail"> {{ detail.quantity }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                                    <mat-cell *matCellDef="let detail">
                                        <button type="button" class="btn btn-info" (click)="quantityManagement(detail)" title="Cantidad" [disabled]="isShow">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger" (click)="removeProduct(detail)" title="Eliminar" [disabled]="isShow">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="showColumns"></mat-header-row>
                                <mat-row *matRowDef="let products; columns: showColumns;">
                                </mat-row>
                            </mat-table>
                            <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
                                class="d-flex justify-content-center mx-2 mt-1"></mat-paginator>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Agregar Productos a la Envío" *ngIf="!isShow">
                    <mat-card>
                        <mat-card-header class="card-header">
                            <mat-card-title>
                                Productos Disponibles para Agregar
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-table [dataSource]="dataSourceProduct" class="mat-elevation-z8 col-md-12">
                                <ng-container matColumnDef="position">
                                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                                    <mat-cell *matCellDef="let i = index">
                                        {{ this.paginatorProducts.pageIndex == 0 ?  (i + 1) : (i + 1) + this.paginatorProducts.pageIndex * this.paginatorProducts.pageSize}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="sku">
                                    <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
                                    <mat-cell *matCellDef="let product"> {{ product.sku | uppercase }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                                    <mat-cell *matCellDef="let product"> {{ product.name | titlecase }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                                    <mat-cell *matCellDef="let product">
                                        <button type="button" class="btn btn-success" (click)="addProduct(product)" title="Agregar">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="showProductColumns"></mat-header-row>
                                <mat-row *matRowDef="let productsNotAssigned; columns: showProductColumns;">
                                </mat-row>
                            </mat-table>
                            <mat-paginator [pageSizeOptions]="pageSizeProductsOptions" showFirstLastButtons
                                class="d-flex justify-content-center mx-2 mt-1"></mat-paginator>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
    <div class="float-right">
        <button mat-button (click)="cancel()" color="warn" *ngIf="!isShow">Cancelar</button>
        <button mat-button color="primary" *ngIf="!isShow"
            [disabled]="orderValid()" (click)="confirm()">Enviar</button>
    </div>
    <br><br>
</mat-card>