<hr />
<img alt="Spring Logo" src="assets/images/spring-boot.png">
<p>
    Powered by <a href="https://projects.spring.io/spring-boot/">Spring
        Boot</a>, <a href="https://angular.io/">Angular</a>, <a href="https://www.mysql.com/">MySQL</a>, 
        <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://material.angular.io/">Angular Material</a>.
</p>
<p>
    Este proyecto de prueba fue desarrollado en los IDE <a href="https://spring.io/tools">STS
        Spring Tool Suit</a> y <a href="https://code.visualstudio.com/">Visual Studio Code</a>, por Luis Luna.<br /> &copy; Company 2020,
    Inc. Todos los derechos reservados. Términos de uso y privacidad.<br />
</p>