<mat-card>
    <mat-card-header class="card-header">
        <mat-card-title>
            Gestionar:
            {{ warehouse?.warehouseIdentifier + ' ' }}
            {{ (warehouse && warehouse.name !== null && warehouse.name !== '') 
            ? ' - ' + warehouse?.name 
            : '' }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row col-md-12 mt-4">
            <div class="col-md-4">
                <mat-label><strong>Nombre: </strong> {{ warehouse?.name | titlecase }}</mat-label>
            </div>
            <div class="col-md-4">
                <mat-label><strong>Identificador de Almacén: </strong> {{ warehouse?.warehouseIdentifier | uppercase }}</mat-label>
            </div>
            <div class="col-md-4">
                <mat-label>
                    <strong>Regsitrado el: </strong>
                    {{ warehouse?.createdAt | date: 'dd/MM/yyyy' }} a las {{ warehouse?.createdAt | date: 'HH:mm:ss' }}
                </mat-label>
            </div>
        </div>
        <div class="row col-md-12 mt-2">
            <div class="col-md-12 mt-2">
                <mat-label><strong>Direccion: </strong> {{ warehouse?.address }} </mat-label>
            </div>
        </div>

        <div class="col-md-12 mt-5">
            <mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex">
                <mat-tab label="Productos en Almacén">
                    <mat-card>
                        <mat-card-header class="card-header">
                            <mat-card-title>
                                Productos Disponibles en el Almacén
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-md-12">
                                <ng-container matColumnDef="position">
                                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                                    <mat-cell *matCellDef="let i = index">
                                        {{ this.paginator.pageIndex == 0 ?  (i + 1) : (i + 1) + this.paginator.pageIndex * this.paginator.pageSize}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="sku">
                                    <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
                                    <mat-cell *matCellDef="let products"> {{ products.product.sku | uppercase }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                                    <mat-cell *matCellDef="let products"> {{ products.product.name | titlecase }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="quantity">
                                    <mat-header-cell *matHeaderCellDef> Cantidad Disponible </mat-header-cell>
                                    <mat-cell *matCellDef="let products"> {{ products.quantity }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                                    <mat-cell *matCellDef="let products">
                                        <button type="button" class="btn btn-info" (click)="manage(products)"
                                            title="Stock">
                                            <i class="fas fa-calculator"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                            (click)="delete(warehouse.id, products)" title="Eliminar">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="showColumns"></mat-header-row>
                                <mat-row *matRowDef="let products; columns: showColumns;">
                                </mat-row>
                            </mat-table>
                            <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
                                class="d-flex justify-content-center mx-2 mt-1"></mat-paginator>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Productos para Agregar al Almacén">
                    <mat-card>
                        <mat-card-header class="card-header">
                            <mat-card-title>
                                Productos Disponibles para Agregar
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-table [dataSource]="dataSourceProduct" class="mat-elevation-z8 col-md-12">
                                <ng-container matColumnDef="position">
                                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                                    <mat-cell *matCellDef="let i = index">
                                        {{ this.paginatorProducts.pageIndex == 0 ?  (i + 1) : (i + 1) + this.paginatorProducts.pageIndex * this.paginatorProducts.pageSize}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="sku">
                                    <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
                                    <mat-cell *matCellDef="let product"> {{ product.sku | uppercase }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                                    <mat-cell *matCellDef="let product"> {{ (product.name ? product.name : '') | titlecase }} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                                    <mat-cell *matCellDef="let product">
                                        <button type="button" class="btn btn-success" (click)="addToWarehouse(product)"
                                            title="Agregar">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="showProductColumns"></mat-header-row>
                                <mat-row *matRowDef="let productsNotAssigned; columns: showProductColumns;">
                                </mat-row>
                            </mat-table>
                            <mat-paginator [pageSizeOptions]="pageSizeProductsOptions" showFirstLastButtons
                                class="d-flex justify-content-center mx-2 mt-1"></mat-paginator>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
</mat-card>