<h1 mat-dialog-title>{{ title }} Producto</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm" class="col-md-12">
        <div class="row col-md-12">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>SKU</mat-label>
                    <input matInput type="text" formControlName="sku" [readonly]="isShow">
                </mat-form-field>
                <div class="alert-danger col-md-8" *ngIf="sku.invalid && (sku.dirty || sku.touched)">
                    <div class="container-error-message" *ngIf="sku.errors.required">
                        El SKU no puede estar vacio
                    </div>
                    <div class="container-error-message" *ngIf="sku.errors.minlength">
                        El SKU debe contener al menos 1 caracter
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="name" [readonly]="isShow">
                </mat-form-field>
                <div class="alert-danger col-md-8" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div class="container-error-message" *ngIf="name.errors.required">
                        El Nombre no puede estar vacio
                    </div>
                    <div class="container-error-message" *ngIf="name.errors.minlength">
                        El Nombre debe contener al menos 5 caracteres
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <mat-form-field style="width: 100%;">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput formControlName="description" [readonly]="isShow"></textarea>
                </mat-form-field>
                <div class="alert-danger" *ngIf="description.invalid && (description.dirty || description.touched)">
                    <div class="container-error-message" *ngIf="description.errors.required">
                        La Descripción no puede estar vacio
                    </div>
                    <div class="container-error-message" *ngIf="description.errors.minlength">
                        La Descripción debe contener al menos 10 caracteres
                    </div>
                    <div class="container-error-message" *ngIf="description.errors.maxlength">
                        La Descripción debe contener un máximo de 250 caracteres
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 mt-3">
                <mat-checkbox class="example-margin" formControlName="enabled">Habilitado</mat-checkbox>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-action class="float-right">
    <button mat-button (click)="cancel()" color="warn">Cancelar</button>
    <button mat-button 
        [mat-dialog-close]="product" 
        color="primary" 
        *ngIf="!isShow" 
        [disabled]="!productForm.valid"
        (click)="confirm()"
        >Enviar</button>
</div>