<mat-card>
    <mat-card-header>
        <mat-card-title>
            Listado de Envíos
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <button type="button" class="btn btn-success float-right" routerLink="/orders/form" title="Registrar">
            <i class="fas fa-plus"></i>
        </button>
        <br><br><br>
        <mat-table [dataSource]="orders" class="mat-elevation-z8 col-md-12">
            <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                <mat-cell *matCellDef="let i = index">
                    {{ this.paginator.pageIndex == 0 ?  (i + 1) : (i + 1) + this.paginator.pageIndex * this.paginator.pageSize}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Número de Orden </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{ order.id }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="customer">
                <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{ (order.customer.name + ' ' + order.customer.surname) | titlecase }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="shippingDate">
                <mat-header-cell *matHeaderCellDef> Fecha de envío </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{ order?.shippingDate | date: 'dd/MM/yyyy' }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="deliveryDate">
                <mat-header-cell *matHeaderCellDef> Fecha de entrega </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{ order?.deliveryDate | date: 'dd/MM/yyyy' }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let order"> {{ order.status.name | titlecase }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <button type="button" class="btn btn-warning" (click)="edit(order)" title="Cambiar Estatus">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn btn-info" [routerLink]="['/orders/form', order.id]" title="Ver">
                        <i class="fas fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="delete(order)" title="Eliminar">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="showColumns"></mat-header-row>
            <mat-row *matRowDef="let order; columns: showColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator [length]="totalFields" [pageSize]="totalByPage" [pageIndex]="currentPage"
            [pageSizeOptions]="pageSizeOptions" (page)="paginate($event)" showFirstLastButtons
            class="d-flex justify-content-center mx-2 mt-1"></mat-paginator>
    </mat-card-content>
</mat-card>