<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img width="40" alt="Angular Logo"
            src="assets/images/logo.jpg" />
        Kubbo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/products" routerLinkActive="active">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/customers" routerLinkActive="active">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/warehouses" routerLinkActive="active">Almacenes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/orders" routerLinkActive="active">Envios</a>
            </li>
        </ul>
    </div>
</nav>