<h1 mat-dialog-title>
    Actualizar estatus del envío {{ order.id }}
    <button type="button" class="btn btn-default btn-sm float-right" title="close" (click)="modalRef.close()">
        <i class="fas fa-times"></i>
    </button>
</h1>
<div mat-dialog-content>
    <form [formGroup]="statusForm" class="col-md-12">
        <div class="row col-md-12">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Estatus</mat-label>
                    <mat-select formControlName="statusField">
                        <mat-option [value]="order.status">{{ order.status.name }}</mat-option>
                        <mat-option *ngFor="let status of statusList" [value]="status">
                            {{ status.name | titlecase }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="alert-danger col-md-8"
                    *ngIf="statusField.invalid && (statusField.dirty || statusField.touched)">
                    <div class="container-error-message" *ngIf="statusField.errors.required">
                        Debe seleccionar un estatus de la lista
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-action class="float-right">
    <button mat-button (click)="cancel()" color="warn">Cancelar</button>
    <button mat-button 
    [mat-dialog-close]="order" 
    color="primary" 
    [disabled]="!statusForm.valid" 
    (click)="confirm()">Agregar</button>
</div>