<h1 mat-dialog-title>
    Agregar cantidad para el producto: {{ productName }}
    <button type="button" class="btn btn-default btn-sm float-right" title="close" (click)="modalRef.close()">
        <i class="fas fa-times"></i>
    </button>
</h1>
<div mat-dialog-content>
    <form [formGroup]="detailForm" class="col-md-12">
        <div class="row col-md-12">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Cantidad</mat-label>
                    <input matInput type="text" formControlName="quantity">
                </mat-form-field>
                <div class="alert-danger col-md-8" *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)">
                    <div class="container-error-message" *ngIf="quantity.errors.required">
                        Debe ingresar un valor
                    </div>
                    <div class="container-error-message" *ngIf="quantity.errors.pattern">
                        El campo cantidad solo acepta números y solo mayores a 0
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-action class="float-right">
    <button mat-button 
    [mat-dialog-close]="detail" 
    color="warn" 
    [disabled]="!detailForm.valid" 
    (click)="decrease()">Disminuir</button>
    
    <button mat-button 
    [mat-dialog-close]="detail" 
    color="primary" 
    [disabled]="!detailForm.valid" 
    (click)="add()">Agregar</button>
</div>