<mat-card>
    <mat-card-header>
        <mat-card-title>
            Listado de Clientes
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <button type="button" class="btn btn-success float-right" (click)="create()" title="Registrar">
            <i class="fas fa-plus"></i>
        </button>
        <br><br><br>
        <mat-table #table [dataSource]="customers" class="mat-elevation-z8 col-md-12">
            <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                <mat-cell *matCellDef="let i = index">
                    {{ this.paginator.pageIndex == 0 ?  (i + 1) : (i + 1) + this.paginator.pageIndex * this.paginator.pageSize}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dni">
                <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{ customer.dni | uppercase }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{ customer.name | titlecase }} {{ customer.surname | titlecase }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{ customer.email }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{ customer.phone }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let customer">
                    <button type="button" class="btn btn-warning" (click)="edit(customer)" title="Editar">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn btn-info" (click)="show(customer)" title="Ver">
                        <i class="fas fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="delete(customer)" title="Eliminar">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="showColumns"></mat-header-row>
            <mat-row *matRowDef="let customer; columns: showColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator [length]="totalFields" [pageSize]="totalByPage" [pageIndex]="currentPage"
            [pageSizeOptions]="pageSizeOptions" (page)="paginate($event)" showFirstLastButtons
            class="d-flex justify-content-center mx-2 mt-1"></mat-paginator>
    </mat-card-content>
</mat-card>